# Database
DATABASE_URL="postgresql://user:password@localhost:5432/college_discovery?schema=public"

# Application
NODE_ENV="development"
AUTH_SECRET="your-secure-random-secret-at-least-32-chars-long"
